

form {
  display: flex;
  padding: 10px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: black;
  width: 400px;
  border: 1px solid grey;
  padding: 50px;
  margin: 20px;
}
.input {
  margin-right: 10px;
}
.frame {
  width: 40vw;
  max-width: 400px;
}
.header {
  display: inline;
  text-align: center;
  width: 300px;
  border-style: outset;
  border-width:300px;
}
.list-wrapper {
  max-height: 200px;
  overflow-y: auto;
  width: 300px;
  border-style: outset;
}

.card-header {
  width: 300px;
}